@import "tailwindcss";

@theme {
  --color-onyx: #060a08;
  --color-greyOlive: #7d7e75;
  --color-paleSlate: #b0b2b8;
  --color-lavender: #cfd6ea;
  --color-darkAmethyst: #210130;
  --color-evergreen: #02290a;

  --font-mono: "Libertinus Mono", monospace;
  --font-gothic: "Jacquard 12", cursive;
}

@layer base {
  html {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-smooth: never;
    font-variant-emoji: text;
  }
}

@layer utilities {
  .text-shadow-hard-onyx {
    text-shadow: 2px 2px 0 #060a08;
  }

  .text-shadow-hard-greyOlive {
    text-shadow: 2px 2px 0 #7d7e75;
  }

  .text-shadow-hard-paleSlate {
    text-shadow: 2px 2px 0 #b0b2b8;
  }

  .text-shadow-hard-lavender {
    text-shadow: 2px 2px 0 #cfd6ea;
  }

  .text-shadow-hard-darkAmethyst {
    text-shadow: 2px 2px 0 #210130;
  }

  .text-shadow-hard-evergreen {
    text-shadow: 2px 2px 0 #02290a;
  }
}
